@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "./variables";
// @import "../../node_modules/@blueprintjs/core/dist/blueprint.scss";

* {
	box-sizing: border-box;
}
img{
	width: 100%;
}

body{
	// background: url('../images/476079.jpg')center, center, no-repeat;
	// background-size: cover;
	background: $transBlue;
	font-family: 'PT Sans', sans-serif;
}


.form{
	background: #fff;
}
